{% extends 'products/base.html' %}
{% load static %}


{% block content %}
<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <br><br>
                    <h1>О веб-сайте DimkaDelivery</h1>
                    <p class="about-paddingB">Данный сайт является некоммерческим проектом для улучшения навыков и
                        получения новых знаний для разработчика.</p>
                    <p>На сайте реализована система регистрации и авторизации. Также работает система рекомендаций и
                        поиск самых популярных товаров на основе Redis.</p>
                    <div class="about-icons">


                    </div>
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>
{% endblock %}