{% extends "products/base.html" %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <div class="row col-md-12 ">
        <div class="col"></div>
        <div class="col-5">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}
{% static "img/no_image.png" %}{% endif %}" width="300">
        </div>
        <div class="col-6">
            <div class="product-detail">
                <h3>{{ product.name }}</h3>
                <h2>
                    <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
                </h2>
                <p class="price">{{ product.price }} Руб.</p>
                <form action="{% url "cart:cart_add" product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="Add to cart">
                </form>
                {{ product.description|linebreaks }}
            </div>
        </div>
    </div>
{% endblock %}