{% extends "products/base.html" %}
{% block title %}Email Log-in{% endblock %}
{% block content %}
    <h1>Войти с помощью почты</h1>
    {% if form.errors %}
        <p>Ваша почта или пароль не совпадают. Попробуйте снова.</p>
    {% else %}
        <p>Пожалуйста, заполните форму, чтобы войти. Если у Вас нет аккаунта, Вы можете <a href="{% url "accounts:register" %}">зарегистрироваться здесь</a></p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'accounts:login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Войти"></p>
        </form>
    </div>
{% endblock %}