{% extends "products/base.html" %}
{% block title %}Список заказов{% endblock %}

{% block content %}
    <div class="row ">
        <div class="col mx-auto my-2">
            <table class="table table-striped  text-center">
                <tr>
                    <th class=" text-center">Номер заказа</th>
                    <th class=" text-center">Дата создания</th>
                    <th class=" text-center">Город</th>
                    <th class=" text-center">Адрес</th>
                    <th class=" text-center">Оплачен</th>
                </tr>
                {% for order in orders %}
                    <tr>
                        <td class=" text-center">
                            <a href="{% url 'accounts:order_detail' id=order.id %}">{{ order.id }}</a>
                        </td>
                        <td class=" text-center">{{ order.created }}</td>
                        <td class=" text-center">{{ order.city }}</td>
                        <td class=" text-center">{{ order.address }}</td>
                        {% if order.paid is true %}
                            <td class=" text-center">Да</td>
                        {% else %}
                            <td class=" text-center">Нет</td>
                        {% endif %}
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}