{% extends "products/base.html" %}
{% block title %}
    Checkout
{% endblock %}
{% block content %}
    <h1>Оформить заказ</h1>
    <div class="order-info">
        <h3>Ваш заказ</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>{{ item.total_price|floatformat:"2" }} Руб.</span>
                </li>
            {% endfor %}
            {% if cart.coupon %}
                <li>
                    "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% скидка)
                    <span>- {{ cart.get_discount|floatformat:"2" }} Руб.</span>
                </li>
            {% endif %}
            <br>
            {% if cart.bonus_scores > 0 %}
                <li>
                    Бонусные рубли: {{ cart.bonus_scores }}
                </li>
            {% endif %}
        </ul>
        Всего: {{ cart.get_total_price_after_discount|floatformat:"2" }} Руб.
    </div>
    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" style="background-color: #FF1D3C">Оформить заказ</button>
        {% csrf_token %}
    </form>
{% endblock %}