{% extends "products/base.html" %}
{% block title %}
    Checkout
{% endblock %}
{% block content %}
    <h1>Оформить заказ</h1>
    <div class="order-info">
        <h3>Ваш заказ</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>{{ item.total_price }} Руб.</span>
                </li>
            {% endfor %}
        </ul>
        <p>Total: {{ cart.get_total_price }} Руб.</p>
    </div>
    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" style="background-color: #FF1D3C">Оформить заказ</button>
        {% csrf_token %}
    </form>
{% endblock %}