<html>
<body>
<h1>My Shop</h1>
<p>
   Заказ № {{ order.id }}
    <span class="secondary">
{{ order.created|date:"M d, Y" }}
</span>
</p>
<h3>Чек</h3>
<p>
    Имя : {{ order.first_name }}<br>
    Email: {{ order.email }}<br>
    Город: {{ order.city }}<br>
    Адрес: {{ order.address }}
</p>
<h3>Купленные товары:</h3>
<table>
    <thead>
    <tr style="color: #FF1D3C;">
        <th>Продукт</th>
        <th class=" text-center">Цена</th>
        <th class=" text-center">Количество</th>
        <th class=" text-center">Стоимость</th>
    </tr>
    </thead>
    <tbody>
    {% for item in order.items.all %}
        <tr class="row{% cycle "1" "2" %}">
            <td>{{ item.product.name }}</td>
            <td class=" text-center">{{ item.price }} Руб.</td>
            <td class=" text-center">{{ item.quantity }}</td>
            <td class=" text-center">{{ item.get_cost }} Руб.</td>
        </tr>
    {% endfor %}
    <tr class="total">
        <td colspan="3">Итого</td>
        <td class="num">{{ order.get_total_cost }} Руб.</td>
    </tr>
    </tbody>
</table>
<span class="{% if order.paid %}pend{% else %}pending{% endif %}">
{% if order.paid %}Оплачен{% else %}Не оплачен{% endif %}
</span>
</body>
</html>